body {
    text-align: center;
    font-family: helvetica;
}
header, nav, footer {
    color: white;
    padding: 2px;
}
header,footer {
    background-color: darkgreen;
}
nav {
    background-color: forestgreen;
}
section {
    background-color: lightgreen;
    width: 33.3%;
    height: 550px;
    margin-top: 10px;
    overflow: auto;
}
h2 {
    display: inline-block;
    width: 33%;
}
table,th,td {
    border: solid 1px darkgreen;
    
}
table {
    width: 90%;
    border-collapse: collapse;
}
#srodek img {
    width: 95%;
    border-radius: 8px;
}
#lewa tr:hover {
    background-color: forestgreen;
}
main {
    display: flex;
}